.header{

}
.logo{

}
.logo .img{

}
.name{

}
.menu{

}
.intro{

}
.intro .img{

}
.intro .text-content{

}
button{
color: red;
}
.info{

}
.left{

}
.left .img{

}
.quote{

}
.emanuel{

}
.right{

}
.infoblocks{

}
.orientation{

}
.img .infoblocks{

}
h3 .infoblocks{

}
span .infoblocks{

}
a .infoblocks{
color: green;
}
.campus{

}
.guest{
color: blue;
}
.teach{

}
.course{

}
.course .img-content{

}
h3 .course{

}
p .course{

}
.thesis{

}
h3 .thesis{

}
.leftcol{

}
video .thesis{

}
p .thesis{

}
.rightcol{

}
.rightcol .infoblocks{

}
h3 .now{

}
h3 .fisma .now{

}
.footer{

}
.footer span{

}
a .footer{

}
